html body{
    padding: 0;
    margin: 0;
    display: grid;
}


.button{
    display: grid;
    justify-content: center;
    background-color: lightpink;
}

.pad{
    width: 500px;
    height: 500px;
    display: grid;
}
.padwrapper{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    
      
}

#color_canvas{
    display: flex;
    justify-items: right;
   left: 100px;
}

input[type="color"] {
    -webkit-appearance: none;
   width: 80px;
    height: 80px; 
    border: none;

  }
 .colorWrap{
    display: flex;
    position: relative;
    padding-bottom: 500px;
 }